<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Habit Tracker - Home</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="icon" href="https://images.emojiterra.com/google/noto-emoji/unicode-16.0/color/svg/1f33f.svg"
          type="image/svg+xml">
</head>
<body>

<div class="navbar">
    <a href="/habit-tracker" th:href="@{/habit-tracker}">Habit Tracker</a>
    <a href="/chart" th:href="@{/chart}">Habit Chart</a>
    <a href="/tomatillo-timer" th:href="@{/tomatillo-timer}">Tomatillo timer</a>
</div>


</body>
</html>